<% @issues.each do |issue|  %>
    <div>
        <ul>
            <li> <%= issue.summary %> </li>
            <li> <%= issue.created_at %></li>
            <li> <%= issue.address %> </li>
            <li> <%= issue.has_images? %> </li>
        </ul>
    </div>
<% end %>
<%= render 'buzon/resumen' %>

